body,
html {

    margin:auto;
    width: 80%;
    height: 100%;
}

body{
background-color:gray;
}

.center{
  text-align:center;
}

.line-spacing{
  line-height:350%;
}


.body-div-1{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-410px;
  margin-left:-500px;
  background-color:white;
  height:710px;
  width:1000px;
}

h1
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}


h1{
  font-size:35px;
  font-weight:bold;

}

h2{
  font-size:25px;
  font-weight:bold;
}

h3{
  font-size:18px;
}

.topnav {    
    font-size: 16px;
    border-bottom: 1px outset rgba(192,192, 192,0);
    background: rgba(192, 192, 192, 0.9);
    box-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}
.topnav ul.navbar-nav li a {
background: rgba(28, 28, 0.1);
color: #000;
}

.topnav .navbar-brand {
  background: rgba(28, 28, 28, 0.0);
  color: #000;
}
.link_aboutus:hover {
  text-decoration: none;
  color: black;
  background-color:blue;
}
